div#header-content {
	background: url("../images/echo-logo.gif") no-repeat transparent 0 8px;
	padding: 15px 0 0 45px;
	color: #FFF;
	font-weight: bold;
	height: 42px;
	font-size: 20px;
	margin: 0 0 0 7px;
}

#loading span.logo {
	background: none;
}

#loading span.title {
	background: url("../images/echo-logo.png") no-repeat scroll transparent center;
	left: -60px;
	height: 150px;
}

#footer .policy {
	text-decoration: underline;
}

div#footer, div#footer a {
	color: #FFF;
}

div#footer {
	background: #686868;
}

#footer-content {
	height: 50px;
}

.social-icon-roll a {
	background: url("../images/social-footer.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 25px;
	margin: 0 5px 0 0;
	width: 28px;
}

div#north-region {
	background:#19B9F3;
	background:-webkit-gradient(linear,left top,left bottom,from(#19B9F3),to(#5dcdf6));
	background:-moz-linear-gradient(top,#19B9F3,#5dcdf6);
	height: 100px;
}

.class-categories .section .left-column {
	width: auto;
}

.class-categories .section .middle-column {
	width: 500px;
}

.welcome-page .sub-title {
	color: rgb(49, 78, 100);
	margin: 7px 0;
	font-weight: bold;
	font-size: 18px;
	padding: 10px 0 18px 55px;
}

.welcome-page .sub-title.api {
	background: url("../images/class-m.png") no-repeat scroll -5px -5px transparent;
}

.welcome-page .sub-title.guides {
	background: url("../images/doc-m.png") no-repeat scroll -5px -5px transparent;
}

.welcome-page .sub-title.examples {
	background: url("../images/component-m.png") no-repeat scroll -5px -5px transparent;
}

.welcome-page .sub-title.github {
	background: url("../images/github-logo.png") no-repeat scroll -5px -5px transparent;
}

.welcome-page .col {
	width: 50%;
	float: left;
	padding: 0 0 15px 0;
}

.welcome-page .col p {
	padding-right: 35px;
}

.welcome-page .img {
	float: right;
	padding-top: 29px;
}

.welcome-page .copy {
	float: left;
	width: 550px;
	padding-top: 30px;
	padding-bottom: 40px;
}

.welcome-page .copy {
	line-height: 22px;
}

.welcome-page .footer {
	margin: 10px auto;
	width: 500px;
}

.welcome-page #sdk-welcome-logo {
	width: 250px;
	margin-right: -60px;
}

.welcome-page {
	width: 900px;
	margin: 15px auto 0;
}

.welcome-page div.section {
	margin: 0 0 20px;
}

.class-overview .hierarchy {
    width: 30px;
    height: 24px;
    background-image: url("../images/example-icons.png");
    background-position: -24px -109px;
    background-repeat: no-repeat;
}

.class-overview .hierarchy:hover {
    width: auto;
    height: auto;
    background-image: none;
}

.class-overview .hierarchy * {
    display: none;
}

.class-overview .hierarchy:hover * {
    display: inherit;
}
