web/*

*.swp
*.swo

.npmignore
node_modules
npm-debug.log

config/environments/development.json
config/environments/test.json
config/environments/staging.json
config/release.json

sauce_connect.*
hs_err_pid*
