web/*

*.swp
*.swo

.npmignore
node_modules
npm-debug.log

config/environments/development.json
config/environments/test.json
config/environments/staging.json
config/environments/production.json

sauce_connect.*
tools/Sauce-Connect.jar
