body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: url("bg.png");
}
img {
    border-style: none;
}
.navigation {
	position: fixed;
	box-shadow: 0 0 15px #666666;
	background: -moz-linear-gradient(center top, #FAFAFA, #EAEAEA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#EAEAEA));
	margin: 0px;
	padding: 7px 0px;
	font: 13px Arial;
    width: 100%;
}
.menu {
	float: left;
	margin: 0px;
	padding: 0px;
}
.menu li {
	padding: 0px 10px;
	margin: 0px;
	display: inline;
	list-style-type: none;
	border-right: 1px solid #BEBEBE;
}
.menu li a {
	outline: none;
	text-decoration: none;
	color: #0B7EE0;
	transition: all .2s ease-in 0;
	-moz-transition-property: all;
	-moz-transition-duration: .2s;
	-moz-transition-timing-function: ease-in;
	-moz-transition-delay: 0;
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-delay: 0;
}
.menu li a:hover, .menu li.selected a {
	color: #EE7B11;
}
.frame{
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	width: 100%;
	border: 0px;
	border-top: 1px solid #BEBEBE;
}
.open-in-new-window {
	margin-left: 3px;
	cursor: pointer;
}
.powered-by {
	float: right;
	margin-right: 10px;
	color: #808080;
}
.clear {
	clear: both;
}
#documentation {
	float: right;
	font-size: 12px;
	margin-top: 27px;
}
.description {
	font-size: 13px;
	margin: 0 0 15px;
	line-height: 20px;
}
#container {
	box-shadow: 0 4px 15px #666666;
	background: #FAF9F3;
	border: 1px solid #FFFFFF;
	width: 640px;
	padding: 0 20px 20px 20px;
	margin: 50px auto 50px auto;
}
#container.embedded, .embedded .wrapper {
	background: white;
}
.wrapper {
	background: #F5F4EE;
	border: 1px dotted #CCCCCC;
	margin-bottom: 25px;
	padding: 5px;
}
.block {
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin: 10px 0px;
	padding: 5px;
}

.container {
    margin: 50px auto 50px auto;
    width: 900px;
}

#container-v2, #container-v3 {
    box-shadow: 0 4px 15px #666666;
    background: #FAF9F3;
    border: 1px solid #FFFFFF;
    width: 400px;
    padding: 0 20px 20px 20px;
    float: left;
}

#container-v3 {
    float: right;
}

#container h1 {
    margin: 15px 0;
}
